.hero-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-color: var(--background);
    padding-top: 6rem;
}

@media (max-width: 1024px) {
    .hero-container {
        padding-top: 5rem;
    }
}
